html{
	height : 100%;
}

body{
	height : 100%;
	margin: 0; 
	padding: 0;
}

#container{
	width : 100%;
	height : 100%;
}

#navigation{
	background-color: #778899;
	background-image:none;
	background-position:0 -138px;
	background-repeat:repeat-x;
	font-size:24px;
	height:5%;
	opacity:1;
	position:fixed;
	top:0;
	width:100%;
}

#content{
	width : 100%;
	/* This height is important. */
	height : 95%;
	position : relative;
	top:5%;
}