#map {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
}

#tabs {
	opacity:0.5;
	position: absolute;
	top: 0;
	right : 0;
	width: 25%;
	height: 80%;
}



.dialog {
    display: none;
}



.input_label {
	float: left  ;      
	padding:5px 0;
}

.label_input_wrapper {
	overflow: hidden;
	padding-right: .5em;
}

#route_title_input, #create-route-datapicker, #start_input, #end_input, .via_input {
	width: 100%;
}

/* Important to change z-index. Otherwise place autocompletion will not show. */
.pac-container {
    z-index: 1200 !important;
}


/* Photo selection: white-space: nowrap -> no newline in div; overflow:auto -> scrollbar only in div*/
.album_photos {
	white-space: nowrap;
	overflow:auto;
}



/* Remove number in ordered list*/
.ipList {
	diaplay : table;
	border-collapse:collapse;
}
.ipList li {
    display: table-row;
}

.ipList img { 
    display: table-cell;
}
.ipList p { 
    display: table-cell;
    padding-left: 20px; 
    vertical-align: middle;
}

.highlighted {
    border: 2px solid blue;
}

.highlightedFriend, .highlightedRoute {
    background-color: #BDBDBD;
}
