#feed {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height : 100%;
}

.dialog {
    display: none;
}



.input_label {
	float: left  ;      
	padding:5px 0;
}

.label_input_wrapper {
	overflow: hidden;
	padding-right: .5em;
}

#route_title_input, #create-route-datapicker, #start_input, #end_input, .via_input {
	width: 100%;
}

/* Important to change z-index. Otherwise place autocompletion will not show. */
.pac-container {
    z-index: 1200 !important;
}



img.highlighted {
    border: 2px solid blue;
}

/* Photo selection: white-space: nowrap -> no newline in div; overflow:auto -> scrollbar only in div*/
.album_photos {
	white-space: nowrap;
	overflow:auto;
}



/* Remove number in ordered list*/
#sc_list_ul {
	diaplay : table;
	border-collapse:collapse;
}
#sc_list_ul li {
    display: table-row;
}

#sc_list_ul img { 
    display: table-cell;
}
#sc_list_ul p { 
    display: table-cell;
    padding-left: 20px; 
    vertical-align: middle;
}
#sc_list_ul li.highlighted {
    border: 2px solid blue;
}
