<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
	
	<!-- jQuery library -->
	<script type="text/javascript" src="static/external/fancybox/jquery-1.9.0.min.js"></script>
	
	<!-- jQuery UI library -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>	
	<script src="static/login.js"></script>
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCHOO41I21tKSMCzpoXI0Aizz39epDs2g&sensor=true"></script>
</head>

<body>
	
	<div id="map"></div>
	<div id="content">
	
		<div id="infoDiv">
			<div id="leftInfo" class="infoSubDiv">
				<h2>About this project</h2>
				<div class="infoContent">
					<p>Thanks for being interested in my third year project.</p>
					<p>The aim of the project is to enhance travel experience by sharing the travel routes with your friends and planning it based on experiences of friends.</p>
					<p>After logging in to the application, you will be able to import your photos, statuses and check-ins from Facebook. Based on their location information, a route will be generated and you can click on the markers to see the photos taken at that place, as well as statuses and check-ins.</p>
					<p>You can also see the routes of your friends, and a heatmap showing which places are popular among your friends.</p>
				</div>
			</div>
			<div id="rightInfo" class="infoSubDiv">
				<h2>Evaluation of the project</h2>
				<div class="infoContent">
					<p>The evaluation of the project consists of two parts. First, please fill the <b><a href="https://docs.google.com/forms/d/13EQuWjsa8E_IK2ANUcFHLqawFrJypFJlKwzQR89R-6s/viewform" target="_blank">questionnaire one</a></b> about how you share your travel experiences and make your travel plans. Second, take part in the trial, where you will be using the application and other existing applications and tell me the experience of using them by filling out <b><a href="https://docs.google.com/forms/d/1w_WATNgPNyMX8YWS6XIxVQ3ZMYezo9yu8JxtOYn6JH4/viewform" target="_blank">questionnaire two</a></b>. It will take 10 mins to fill questionnaire one and 15 mins to do the trial.</p>
					<p>Please make sure that you have read the <b><a href="http://donglinpu.me/files/3yp/information_sheet.pdf" target="_blank">information sheet</a></b> and signed the <b><a href="http://donglinpu.me/files/3yp/consent_form.pdf" target="_blank">consent form</a></b> as it is required by the University of Southampton. If it is possible, please email a photocopy of the signed consent form to me: dp1e10@ecs.soton.ac.uk.</p>
					<p>Thanks for your time, if you need any information or have any concern, please do not hesitate to contact me. Donglin Pu</p>
				</div>
			</div>
		</div>
	</div>
</body>
<!--  
{% block navigation %}
<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><input type="text" name="place" placeholder="Search for places" size="50" style="color: #FFFFFF; background-color: #000000;"></li>
  <li><a href="/clients/">Clients</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>
{% endblock %}
-->

</html>