<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
	
	<!-- jQuery library -->
	<script type="text/javascript" src="static/external/fancybox/jquery-1.9.0.min.js"></script>
	
	<!-- jQuery UI library -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>	
	<script src="static/testAccount.js"></script>
</head>

<body>
	<div id="testingAccountDetail">
		<p>Testing Facebook accounts have been created. You will not be identified by the account you use.</p>
		<p>Photos have already been uploaded to Facebook so you don't need to worry about the content.</p>
		
		<p>Username:</p>
		<div id="testingAccountUsername"></div>
		
		<p>Password:</p>
		<div id="testingAccountPassword"></div>
		
	</div>
</body>
</html>